<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>1079954098512-aahk5s97468gvetqdoog6ccsmfkaf04c.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.1079954098512-aahk5s97468gvetqdoog6ccsmfkaf04c</string>
    <key>GCM_SENDER_ID</key>
    <string>1079954098512</string>
    <key>API_KEY</key>
    <string></string>
    <key>PROJECT_ID</key>
    <string>lotusplanner-v3</string>
    <key>STORAGE_BUCKET</key>
    <string></string>
</dict>
</plist>

