<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.195338740627-3fs5ahnl0sr1j6k0ivtlpedrjfnl5mgp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>195338740627-3fs5ahnl0sr1j6k0ivtlpedrjfnl5mgp.apps.googleusercontent.com</string>
	<key>GOOGLE_CLIENT_ID</key>
	<string>195338740627-3fs5ahnl0sr1j6k0ivtlpedrjfnl5mgp.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
